@{
    ViewData["Title"] = "Home Page";
}
<body class="home">
<div>
        <h1>Board Of Control For Cricket In India</h1>
 </div>
 <img src="~/images/ViratKohali.png" asp-append-version="true" height="100" width="100"/>     
 <img src="~/images/RohitSharma.png" asp-append-version="true" height="100" width="100"/>
<img src="~/images/Ayyar.png" asp-append-version="true" height="100" width="100" />
<img src="~/images/Gill.png" asp-append-version="true" height="100" width="100" /> 
<img src="~/images/KlRahul.png" asp-append-version="true" height="100" width="100" /> 
<img src="~/images/Surya.png" asp-append-version="true" height="100" width="100" /> 
<img src="~/images/jadega.png" asp-append-version="true" height="100" width="100" />
<img src="~/images/kuldeep.png" asp-append-version="true" height="100" width="100" />
<img src="~/images/shami.png" asp-append-version="true" height="100" width="100" /> 
<img src="~/images/shardul.png" asp-append-version="true" height="100" width="100" /> 
<img src="~/images/Bumrah.png" asp-append-version="true" height="100" width="100" /><br /><br />
<img src="~/images/indian_cricket_team_1.png" asp-append-version="true" width="1200" height="500"/>
<br />
<br /><h1 class="align-content-center">2023 Memories </h1><br />
<div>
<img src="~/images/India.jpg" asp-append-version="true"/>
        <img src="~/images/Virat.png" asp-append-version="true" height="500" width="500" />
    </div>
<h1> 2007 Memories When India Lift The WorldCup</h1><br />
<img src="~/images/India2007.png" asp-append-version="true" width="1200" height="500"/>



    


</body>